<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>LIST APP</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/send_url.js"></script>
</head>

<!--

    <style>
    body {
        background-image: url(/images/sea.png);
    }

</style>

-->

<body>
    <div class="top-wrapper">
        <div class="top-detail">
            <h2 class="subtitle">List APP</h2>
            <h1 class="title">To Do LIST</h1>
            <p class="description">
                "To Do LIST"は、やることをリストアップするサービスです。
                <br>
                その日のうちに"やること"をリストに登録してみましょう。
                <br>
                気軽にメモしてみましょう！。
            </p>
            <a href="/index" class="index-button">一覧を見る</a>
        </div>
   <!--   <div class="top-image">
            <img src="/images/sea.png">
        </div> -->
    </div>
</body>

</html>